In [4]:
#https://github.com/mwaskom/seaborn-data
#bu seaborn datasetlerini alip calisabilirsiniz
#http://seaborn.pydata.org/
#seaborn'u import edecegiz once


import seaborn as sns
import pandas as pd

In [2]:
#sonra da datasetini cagiracagim.
sns.get_dataset_names()
df = sns.load_dataset("mpg")

In [3]:
#datasetini alinca hemen df.head'le bor gormemmiz gerek
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [ ]:
#mpg fuel consumption'i temsil ediyor. miles per gallon

In [5]:
df.shape

(398, 9)

In [6]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
df.select_dtypes(include=["object"])

     origin                       name
0       usa  chevrolet chevelle malibu
1       usa          buick skylark 320
2       usa         plymouth satellite
3       usa              amc rebel sst
4       usa                ford torino
..      ...                        ...
393     usa            ford mustang gl
394  europe                  vw pickup
395     usa              dodge rampage
396     usa                ford ranger
397     usa                 chevy s-10

[398 rows x 2 columns]

In [9]:
df.nunique(axis=0)

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [11]:
df.describe()
#descriptive statistics bilgileri gorelim

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

## 2 population and sample

In [12]:
import numpy as np
#random sayi uretmek icin numpy calistirmam gerek

In [ ]:
from scipy import stats
#scipy kutuphanesinden stats modulunu cagiriyorum

In [14]:
#random sayi uretmek icin kullandiigim kod blogu
#yani bir populasyon olusturyorum

np.random.seed(101)
population=np.random.randint(0, 100, size=1000)
#su anda bir populasyon uretimi yapmis olduk
#0'dan 100'e kadar 1000 elementli bir populasyon

In [15]:
#simdi bu populasyondan, rastgele sample cekecegim
np.random.seed(51)
sample = np.random.choice(population, 100)
#100 elemanli bir sample yaptik

In [ ]:
population.mean() #populasyonun ortalamasi

In [19]:
sample.mean() 
#sample sayisini buyuttukce, populasyonun meanine yakinsar

45.8

In [ ]:
#sample means adinda bir listeye 100 farkli sample'in ortalamasini ekleyelim
#yani 100 kere sample cekecegiz
#herbir sample'i bu sample in icine ekleyecek
#central limit theoremin bir uzantisi bu

In [21]:
sample_means = []
for i in range(100):
  sample = np.random.choice(population, 100)
  sample_means.append(sample.mean())
sample_means

[52.93,
 52.71,
 51.48,
 49.02,
 50.72,
 45.84,
 48.77,
 48.41,
 54.01,
 44.87,
 51.72,
 51.65,
 54.57,
 48.83,
 44.41,
 49.63,
 49.15,
 50.02,
 48.74,
 52.77,
 51.26,
 49.28,
 52.28,
 50.7,
 52.81,
 46.22,
 54.3,
 46.9,
 49.29,
 46.83,
 49.81,
 45.98,
 53.15,
 50.75,
 41.74,
 47.2,
 51.9,
 48.24,
 52.57,
 50.34,
 45.78,
 48.94,
 56.4,
 51.11,
 50.95,
 44.03,
 51.2,
 47.32,
 53.74,
 48.19,
 54.51,
 47.38,
 50.3,
 49.49,
 52.27,
 53.45,
 53.87,
 52.99,
 54.08,
 53.49,
 52.23,
 47.72,
 49.48,
 53.17,
 51.83,
 52.98,
 47.68,
 54.8,
 50.11,
 50.31,
 52.07,
 49.52,
 51.08,
 53.73,
 47.46,
 48.05,
 46.97,
 47.07,
 50.67,
 46.96,
 49.74,
 50.45,
 50.02,
 49.99,
 48.17,
 48.72,
 48.8,
 53.64,
 48.65,
 55.24,
 45.34,
 52.11,
 51.73,
 51.0,
 52.41,
 49.71,
 49.24,
 48.12,
 49.51,
 43.78]

In [22]:
np.mean(sample_means)

50.11549999999999

Mean Median Mode Kurtosis

In [23]:
np.mean(sample_means)

age = [20, 22, 25, 25, 27, 27, 27, 29, 30, 31, 121]

np.mean(age)

34.90909090909091

In [24]:
np.mean(age)

np.median(age)
stats.mode(age)
#mode hesabi icin scipy kullaniyoruz

NameError: name 'stats' is not defined

In [ ]:
stats.mode(age)

In [ ]:
data = {"D1":[135, 137, 136, 138, 138],
              "D2":[43,   42, 42, 42, 42],
              "D3":[72, 73, 72, 72, 73],
              "D4":[100, 102, 100, 103, 104]};

## 5 Skeweness Kurtosis

In [ ]:
stats.kurtosis(age2)
#basiklik olcumu

In [25]:
stats.skew(age2)
#skewness yani carpiklik olcumu

NameError: name 'stats' is not defined